/* ProjectBoard.css */
.project-board {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    overflow-x: auto; /* Allows horizontal scrolling */
    background-color: #414143;
    min-height: 100vh;
}

.list-container {
    background: rgb(66, 1, 64);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    margin-right: 20px;
}

.list-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.task-item {
    background: #47a9f4;
    border: 1px solid #580f47;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.task-item button {
    margin-top: 5px;
    background: #0079bf;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.task-item button:hover {
    background: #005a8c;
}
